<footer class="footer">
  <div class="footer__row container">
    <a class="footer__logo" href="/"><img src="./img/svg/logo_white.svg" alt="Логотип"></a>
    <nav class="footer__navigation">
      <ul class="footer__navigation-list">
        <li class="footer__navigation-item"><a class="footer__navigation-link" href="./services.html">Услуги</a></li>
        <li class="footer__navigation-item"><a class="footer__navigation-link" href="./shop.html">Интернет-магазин</a></li>
        <li class="footer__navigation-item"><a class="footer__navigation-link" href=@contacts>Контакты</a></li>
        <li class="footer__navigation-item"><a class="footer__navigation-link" href=@about>О компании</a></li>
      </ul>
    </nav>
    <div class="footer__contacts">
      <a class="footer__phone" href="tel:88002343475">8 800 234 34 75</a>
      <button class="footer__callback" data-callback-popup="popup_callback_feedback">Обратный звонок</button>
    </div>
  </div>
  <div class="footer__bottom">
    <div class="footer__container container">
      <a class="footer__confidentiality" href="./confidentiality.html">Политика конфиденциальности</a>
      <a class="footer__developer" href="#">
        <span>Сайт разработан студией</span>
        <svg style="width: 80rem; height: 32rem;">
          <use xlink:href="#web-studio"></use>
        </svg>
      </a>
    </div>
  </div>
  <div class="popup_background_request" id="popup_request">
    <div class="popup__request">
      <div class="popup__pic cart__close-inner cart__close-no_border" data-close-popup="popup_request">
        <svg style="width: 13rem; height: 13rem;transform: rotate(45deg);">
          <use xlink:href="#plus"></use>
        </svg>
      </div>
      <div class="cart__clipboard">
        <img src="./img/svg/clipboard.svg" alt="">
      </div>
      <h2 class="popup__title">Ваша заявка успешно отправлена</h2>
      <p class="popup__text popup__text-request">Мы свяжемся с вами в ближайшее время</p>
    </div>
  </div>
  <div class="popup_background_callback" id="popup_callback_feedback">
    <div class="popup__callback">
      <div class="popup__pic cart__close-inner cart__close-no_border" data-close-popup="popup_callback_feedback">
        <svg style="width: 13rem; height: 13rem;transform: rotate(45deg);">
          <use xlink:href="#plus"></use>
        </svg>
      </div>
      <h2 class="popup__title">Обратный звонок</h2>
      <p class="popup__text popup__text-callback">Оставьте заявку, и мы перезвоним Вам в ближайшее время.</p>
      <div class="popup__contTel">
        <svg class="popup__contTel-pic"></svg>
        <input class="popup__contTel-inputTel" type="tel" placeholder="+7(___) ___ __-__*">
      </div>
      <button class="popup__callbackBtn button" data-open-request="popup_request">
        <span class="popup__textBtnBlue button__text-noarrow">Перезвоните мне</span>
      </button>
      <p class="popup__text popup__text-persdata">Нажимая кнопку «Перезвоните мне», вы соглашаетесь с<br> <a class="popup__text-persdata-conf" href="./confidentiality.html">политикой обработки персональных данных</a></p>
    </div>
  </div>
</footer>
